body, html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: row;
    height:100%;
}

.left-sidebar{
    background-color: aqua;
    width: 20%;
}

.main-content{
    background-color: black;
    width: 60%;
}

.main-display{
    margin-top: 25%;
    height: 50%;
    width: 90%;
    margin-left: 5%;
    background-color: white;
}

.right-sidebar{
    background-color: green;
    width: 20%;
}